# Ignore everything
*

# But not these folders (allow Git to descend into them)
!*/

# Allow .dtsx files anywhere
!*.dtsx

# Still ignore unwanted stuff
*.log
*.bak
*.tmp
*.cache
*.config
*.dtsConfig
*.ispac
*.suo
*.user
*.sln
*.dtproj
.vs/
bin/
obj/
DatabaseAdministration/SSI Packages/bin/
DatabaseAdministration/SSI Packages/obj/
